[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = http://github.com/tmux-plugins/tpm
